<nz-layout>
  <nz-layout>
    <nz-content>
      <app-document-page></app-document-page>
    </nz-content>
    <nz-sider>
      <div class="right-sid">
        <nz-anchor [nzAffix]="true" [nzShowInkInFixed]="true">
          <nz-link nzHref="#components-h1"  nzTitle="什么是 Angular？"></nz-link>
          <nz-link nzHref="#card-a" nzTitle="Angular">
            <nz-link nzHref="#card-l" nzTitle="走马观花"></nz-link>
            <nz-link nzHref="#card-m" nzTitle="开始使用"></nz-link>
            <nz-link nzHref="#card-r" nzTitle="基本原理"></nz-link>
          </nz-link>
          <nz-link nzHref="#components-h2" nzTitle="基本假设"></nz-link>
          <nz-link nzHref="#components-h3" nzTitle="反馈"></nz-link>
        </nz-anchor>
      </div>
    </nz-sider>
  </nz-layout>
</nz-layout>
