<ul nz-menu [nzMode]="'inline'" style="width: 200px;">
  <li nz-menu-item>快速上手</li>
  <li nz-submenu>
    <span title>教程</span>
    <ul>
      <li nz-menu-group>
        <ul>
          <li nz-menu-item>简介</li>
          <li nz-menu-item>应用的“外壳”</li>
          <li nz-menu-item>1.英雄编辑器</li>
          <li nz-menu-item>2.显示英雄列表</li>
          <li nz-menu-item>3.主从组件</li>
          <li nz-menu-item>4.服务</li>
          <li nz-menu-item>5.路由</li>
          <li nz-menu-item>6.HTTP</li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-submenu>
    <span title>核心知识</span>
    <ul>
      <li nz-menu-group>
        <ul>
          <li nz-menu-item>架构</li>
          <li nz-menu-item>组件与模拟</li>
          <li nz-menu-item>表单</li>
          <li nz-menu-item>Observable与RxJS</li>
          <li nz-menu-item>引导启动</li>
          <li nz-menu-item>Angular模板</li>
          <li nz-menu-item>依赖注入</li>
          <li nz-menu-item>HttpClient</li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-submenu>
    <span title>其他技术</span>
    <ul>
      <li nz-menu-group>
        <ul>
          <li nz-menu-item>安全</li>
          <li nz-menu-item>国际化</li>
          <li nz-menu-item>Service Worker</li>
          <li nz-menu-item>服务端渲染</li>
          <li nz-menu-item>从AugularJS升级</li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-submenu>
    <span title>服务搭建与部署</span>
    <ul>
      <li nz-menu-group>
        <ul>
          <li nz-menu-item>CLI命令参考手册</li>
          <li nz-menu-item>项目文件结构</li>
          <li nz-menu-item>npm 包</li>
          <li nz-menu-item>TypeScript 配置</li>
          <li nz-menu-item>构建与运行</li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-menu-item>API参考手册</li>
  <nz-divider></nz-divider>
  <li nz-menu-item><i nz-icon type="select" theme="outline"></i>互助问答</li>
  <li nz-menu-item><i nz-icon type="select" theme="outline"></i>官方 MATERIAL 组件库</li>
  <li nz-menu-item><i nz-icon type="select" theme="outline"></i>NG-ZORRO组件库</li>
</ul>
