<div class="art">
  <div class="art-tit">
    <div class="art-mtitle">{{article.mainTitle}}</div>
    <img src="../../assets/img/feature.png" height="70px">
  </div>
  <div class="art-contents">
    <div class="art-small">
      <div class="art-ntitle">{{article.firstTitle}}</div>
      <p class="art-con">{{article.firstContent}}</p>
    </div>
    <div class="art-small">
      <div class="art-ntitle">{{article.secondTitle}}</div>
      <p class="art-con">{{article.secondContent}}</p>
    </div>
    <div class="art-small">
      <div class="art-ntitle">{{article.thirdTitle}}</div>
      <p class="art-con">{{article.thirdContent}}</p>
    </div>
  </div>
</div>
<nz-divider></nz-divider><!--文章间分割线-->
