nz-header {
  height: 74px;
  letter-spacing: 3px;
}

.left-header {
  width: 5%;
  float: left;
}

.right-header {
  width: 94%;
  float: left;
}

.main-page{
  width: 90%;
}

.left-menu{
  margin-top: 75px;
}

.ant-layout-sider {
  transition: all .2s;
  position: relative;
  background: #edf1f4;
  min-width: 0;
}

.ant-layout-header {
  background: #1976d2;
  padding: 0 42px 0 0;
}
.ant-layout-footer{
  background-color: #1976d2;
}

:host ::ng-deep .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

:host ::ng-deep .trigger:hover {
  color: #dbdbdb;
}

:host ::ng-deep .logo {
  height: 32px;
  margin: 16px;
}

