<!--<nz-layout class="ant-layout">
  <nz-header class="ant-layout-header">
    <app-navigation></app-navigation>
  </nz-header>
  <nz-content class="ant-layout-content">
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer class="ant-layout-footer">
    <app-footer></app-footer>
  </nz-footer>
</nz-layout>-->
<nz-layout>
  <nz-drawer [nzClosable]="false" [nzVisible]="visible" [nzPlacement]="placement" (nzOnClose)="close()">
    <ul nz-menu [nzMode]="'inline'">
      <app-document-drawer></app-document-drawer>
    </ul>
  </nz-drawer>

  <nz-layout>
    <nz-header class="ant-layout-header">
      <div nz-row>
        <div nz-col [nzLg]="1" [nzMd]="2" [nzSm]="2" [nzXs]="3">
          <i class="trigger" nz-icon [type]="visible?'menu-unfold':'menu-fold'" (click)="open()"></i>
        </div>
        <div nz-col [nzLg]="18" [nzMd]="10" [nzSm]="10" [nzXs]="10">
          <app-navigation></app-navigation>
        </div>
      </div>
    </nz-header>
    <nz-content class="ant-layout-content">
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer class="ant-layout-footer">
      <app-footer></app-footer>
    </nz-footer>
  </nz-layout>
</nz-layout>
