<div nz-row class="top background-sky"></div>
<div nz-row>
  <div nz-col [nzSpan]="14" [nzOffset]="5">
    <div nz-row class="mainTitle">
      <div nz-col [nzSpan]="12" class="angularIcon">
        <img src="../assets/img/angular.svg">
      </div>
      <div nz-col [nzSpan]="8" class="paddingText ant-col-xs-24 ant-col-sm-24 ant-col-md-8">
        <h1>一套框架，多种平台</h1>
        <h1>移动端&桌面端</h1>
        <button nz-button [nzType]="'primary'" [nzSize]="'large'">快速上手</button>
      </div>
    </div>
  </div>
</div>
<app-tag-list></app-tag-list>
