.mandi{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.mandi h1 {
  float:left;
  margin-top: 2%;
}

.iicon {
  float:right;
  margin-top: 5%;
}

.card {

}

.card :hover h2{
  color: #2b85e7;
}

.card :hover h4{
  color: #2b85e7;
}

.card h4 {
  text-align: right;
}

.cardl{
  width:30%;
  float: left;
  display:inline-block;
  margin-right: 3%;
}

.cardm{
  width:30%;
  float: left;
  display:inline-block;
  margin-right: 3%;
}

.cardr{
  width:30%;
  float: left;
  display:inline-block;
  margin-right: 3%;
}

.cardx {
  text-align: center;
  height: 120px;
}

.menu-button{
  position: fixed;/* 固定 */
  top:50%;/* 离左边50% */
  left: 50%;/* 离顶部50% */
  margin-left: 500px;/*计算页面的实际宽度除以2做一个负左边距 */
  margin-top: -125px;/* 计算按钮组的实际高度除以2做一个负上边距*/
}

