<div nz-row>
  <div nz-col nzSpan="8" [nzOffset]="8">
    <div nz-col nzSpan="6">
      <ul class="resource">
        <h3>资源</h3>
        <li class="ng-star-inserted">
          <a href="#">关于</a>
        </li>
        <li class="ng-star-inserted">
          <a href="#">资源列表</a>
        </li>
        <li class="ng-star-inserted">
          <a href="#">宣传资料</a>
        </li>
        <li class="ng-star-inserted">
          <a href="#">博客</a>
        </li>
      </ul>
    </div>
    <div nz-col nzSpan="6">
      <ul class="resource">
        <h3>帮助</h3>
        <li class="ng-star-inserted">
          <a href="#">Stack Overflow</a>
        </li>
        <li class="ng-star-inserted">
          <a href="#">Gitter</a>
        </li>
        <li class="ng-star-inserted">
          <a href="#">报告问题</a>
        </li>
        <li class="ng-star-inserted">
          <a href="#">行为规范</a>
        </li>
      </ul>
    </div>
    <div nz-col nzSpan="6">
      <ul class="resource">
        <h3>社区</h3>
        <li class="ng-star-inserted">
          <a href="#">关于</a>
        </li>
        <li class="ng-star-inserted">
          <a href="#">资源列表</a>
        </li>
        <li class="ng-star-inserted">
          <a href="#">宣传资料</a>
        </li>
        <li class="ng-star-inserted">
          <a href="#">博客</a>
        </li>
      </ul>
    </div>
    <div nz-col nzSpan="6">
      <ul class="resource">
        <h3>多语言</h3>
        <li class="ng-star-inserted">
          <a href="#">关于</a>
        </li>
        <li class="ng-star-inserted">
          <a href="#">资源列表</a>
        </li>
        <li class="ng-star-inserted">
          <a href="#">宣传资料</a>
        </li>
        <li class="ng-star-inserted">
          <a href="#">博客</a>
        </li>
      </ul>
    </div>
  </div>
</div>
