.logo {
  float: left;
}

.nav-right-icon {
  width: 24px;
  heigth: 24px;
  padding-top: 7px;
}

.nav-menu {
  padding-top: 12px;
}

.nav-right-search {
  padding-top: 7px;
}

.ant-menu{
  background: none;
}

.ant-menu-horizontal{
  border-bottom: 0;
}

.nav-big{
  z-index: 1;
}
